.m-0 {
  margin: 0px;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-8 {
  margin-left: 2rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-9 {
  height: 2.25rem;
}

.h-full {
  height: 100%;
}

.w-9 {
  width: 2.25rem;
}

.w-full {
  width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-contain {
  background-size: contain;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-2 {
  padding: 0.5rem;
}

.p-8 {
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.align-top {
  vertical-align: top;
}

.font-bold {
  font-weight: 700;
}

.text-\[\#212529\]\/25 {
  color: rgb(33 37 41 / 0.25);
}

.text-\[\#66C0F4\] {
  --tw-text-opacity: 1;
  color: rgb(102 192 244 / var(--tw-text-opacity));
}

.text-\[\#A34C25\] {
  --tw-text-opacity: 1;
  color: rgb(163 76 37 / var(--tw-text-opacity));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.line-through {
  text-decoration-line: line-through;
}

.no-underline {
  text-decoration-line: none;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.deals-table td {
  text-align: center;
  vertical-align: middle;
}
