@using System.Globalization;
@model DealDetailViewModel
@{
    ViewData["Title"] = "Deal Detail";

    string DollarFormat(string value, string? zeroValue = null)
    {
        if (float.TryParse(value, NumberStyles.Any, CultureInfo.InvariantCulture, out var floatValue))
        {
            if (floatValue == 0f)
                return zeroValue ?? "";
            return $"{floatValue:0.##}$";
        }
        return $"{floatValue:0.##}$";
    }
}

<section>
    <div class="flex justify-center">
        <img src="@Model.Deal.GameInfo.Thumb" style="max-height: 20vh;" />
        <div class="flex flex-col m-2">
            <div class="m-0 h1">
                @Model.Deal.GameInfo.Name
            </div>
            <div class="h2">
                Market: @Model.Store.StoreName
            </div>
            <div class="h3">
                Fiyat: @DollarFormat(Model.Deal.GameInfo.SalePrice, "Bedava")
            </div>
        </div>
    </div>
</section>