@using System.Globalization;
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form class="form-floating m-3" method="get">
    <input type="number" class="form-control w-48" value="@Context.Request.Query["MaxPrice"]" name="MaxPrice" id="FilterMaxPrice" placeholder="Max Fiyat">
    <label for="FilterMaxPrice">Max Fiyat</label>
    <input type="submit" value="Uygula" class="btn btn-primary mt-2"/>
</form>
<h2 class="m-3">
    Ucuza Oyun Teklifleri
</h2>
<div id="myGrid" class="ag-theme-alpine" style="height: 500px"></div>

<script type="module">
    import * as imports from "/Scripts/HomePage.js"
    imports.default && imports.default(@Json.Serialize(Model.Games))
</script>
