@using System.Globalization;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Model.IsLoggedIn = SignInManager.IsSignedIn(User);
}
<section class="d-flex flex-column h-full">
    <h2 class="m-3">
        Sale Offers
    </h2>
    <div id="myGrid" class="ag-theme-alpine flex-1"></div>
    <div id="pager"></div>
</section>

<script type="module">
    import * as imports from "/Scripts/HomePage.js"
    imports.default && imports.default(@Json.Serialize(Model))
</script>
